
body{
    border: dotted black;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 5px;
    background-color: aquamarine;
}

header{
    background-color: lightblue;
    font-size: 80px;
    padding: 20px;
    border: solid gray;
}

h1{
    background-color: lightpink;
}

.profile-pic{
    border-radius: 75px;
}

.contact{
    border: solid black;
}

.about-title{
    font: 40px;
    border: solid gray;
}

.about-pic{
}

.projects{
    padding: 50px;
    border: solid;
}