
body{
    background-image: url(https://imgur.com/OylHCY8);
}

header{
    background-color: lightblue;
    font-size: 40px;
    padding: 20px;
}

article{
    background-color: lightgreen;
    padding: 20px;
}


.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.contact{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 5px;
    background-color: aquamarine;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.about-title{
    display: flex;
    justify-content: center;
    font: 40px;
    padding: 20px;
}

#about-pic{
    padding: 100px;
}