body{
    background-image: url(./assets/branch.jpg);
    background-attachment: fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center center;
}
body{
    font-family: 'Kanit', sans-serif;
    --border-color: #FFE4F5;
    --body-bg: #B9A6B2;
    --btn-text-color: #FFE4F5;
    --color: #FFE4F5;
    --header-bg: #53424D;
    --header-text-color: #53424D;
    --nav-bar-bg: #E6E0F1;
    --nav-bar-text: #6B5965;
    --nav-bar-hover-bg: #CCF4E9;
    --nav-bar-hover-text: #6B5965;
    --inverted-btn-text-color: #FFE4F5;
    --light-dark-btn-bg: #B9A6B2;
    --light-dark-btn-content: "Dark Mode";
    background-color: var(--body-bg);
    border: var(--border); 
}

body.dark{
    --border-color: #CCF4E9;
    --body-bg: #46313F;
    --btn-text-color: #6B5965;
    --header-bg: #B9A6B2; 
    --color: #53424D;
    --nav-bar-bg: #46313F;
    --nav-bar-hover-bg: #CCF4E9;
    --nav-bar-text: #FFE4F5;
    --nav-bar-hover-text: #6B5965;
    --header-text-color: #FFE4F5;
    --inverted-btn-text-color: #eaeaea;
    --light-dark-btn-bg: #53424D;
    --light-dark-btn-content: "Light Mode";
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bar-bg);
    justify-content: center;
    gap: 100px;
    padding: 5px;
}

#nav-link-about, #nav-link-resume, #nav-link-work{
    display: flex;
    justify-content: center;
    color: var(--nav-bar-text);
    width: 80px;
    border-radius: 75%;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: var(--nav-bar-text);
}

#nav-link-about:hover, #nav-link-resume:hover, #nav-link-work:hover{
    color: var(--nav-bar-hover-text);
    background-color: var(--nav-bar-hover-bg);
}

.welcome-page{
    display: grid;
    min-height: 100vh; 
    grid-template-rows: 1/4fr 1fr 1fr auto;
}

#name{
    color: var(--color);
    /* background-color: var(--header-bg); */
    font-size: 40px;  
    grid-row: 1 / span 1;
    display: flex;
    justify-content: left;
}

#welcome-message{
    color: var(--color);
    /* background-color: var(--header-bg); */
    display: flex;
    justify-content: left;
    opacity: 0.9;
    font-size: 20px;
    height: 30px;
    grid-row: 2 /span 1;
    margin-top: 0;
}

#profile-pic{
    grid-row: 3 / span 1;
    display: flex;
    justify-content: left;
}

#profile-pic img{
    border-radius: 75%;
    object-fit: cover;
    width: 140px;
    height: 140px;
}

.contact{
    grid-row: 4 / span 1;
    margin-top: 0;
    margin-bottom: 300px;
    height: 30px;
    display: flex;
    justify-content: left;
    margin-bottom: 400px;
}

ion-icon {
    color: #46313F;
    padding: 5px;
    font-size: 40px;
    display: flex;
    justify-content: left;
  }

.about-page{
    display: grid;
    margin: 0;
    min-height: 100vh; 
    grid-template-rows: 1/4fr 1fr 1fr auto;
}

#about-title{
    /* background-color: var(--header-bg); */
    /* color: var(--color); */
    color: #eaeaea;
    font-size: 50px;  
    grid-row: 1 / span 1;
    display: flex;
    justify-content: left;
}

.about-section{
    /* color: var(--color); */
    /* background-color: var(--header-bg); */
    background-color: #A5838380;
    color: #eaeaea;
    padding: 5px;
    font-size: 20px;  
    grid-row: 2 / span 1;
    display: flex;
    margin-top: 0;
    border-radius: 4px;
}

#about-to-home{
    grid-row: 3/ span 1;
    display: flex;
    justify-content: left;
    
}

#about-to-home > div:last-child{
    margin-left: auto;
    padding: 20px;
}

#about-icon{
    padding: 20px;
    margin-top: 10px;
}

.bottom-projects-page > div:last-child{
    margin-left: auto;
    padding: 20px;
}

#about-pic img{
    border: solid var(--border-color);
    border-radius: 75%;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.projects-styling{
    background-size: cover;
    border-radius: 10%;
    display: grid;
    min-height: 100vh; 
    grid-template-rows: 1/4fr 1fr 1fr auto;
}

#projects-title{
    /* background-color: var(--header-bg); */
    /* color: var(--color); */
    color: #eaeaea;
    font-size: 50px;  
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#projects-section{
    background-color: var(--color);
    font-size: 50px;  
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

#card-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  background-color: #A58383;
  color: #FFE4F5;
  padding: 10px;
  border-radius: 20px;
  width: 280px;
  margin-bottom: 15px;
}

#card-img-top img{
    size: inherit;
}

.card-img-top{
    border-radius: 5px;
}

.bottom-projects-page{
    display: flex;
    justify-content: left;
}

/* #projects-icon{
    padding:30px;
} */

#projects-page-pic img{
    border: solid var(--border-color);
    border-radius: 75%;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

#light-dark-button {
    background-color: var(--light-dark-btn-bg);
    background-image: var(--light-dark-btn-bg);
  }
  
  #light-dark-button::after {
    border: none;
    color: var(--inverted-btn-text-color);
    content: var(--light-dark-btn-content);
  }

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 500px){
    
    .nav-bar{
        gap: 15px;
    }

    .bottom-projects-page{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projects-icon, #about-icon{
        width: 100px;
        height: 100px;
    }
}